@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --primary-font: "Noto Sans";
    --style-font: Merienda;
    --second-font: "Open Sans";
    --cor-preta: black;
    --cor-branca: white;
}