header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px 150px auto;
}
nav {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 1;
}
.msg-principal {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
}
.img-principal {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 2;
}
